body {
  overflow: scroll;
}

.d-btn {
  font-size: 1.35rem;
  text-decoration: none;

  border-radius: 2rem;
  border: solid;
  border-color: darkcyan;
  outline: none;
  cursor: pointer;

  color: darkcyan;
  background-color: rgb(217, 235, 232);
}

input {
  width: 10%;
  text-align: center;
}

.card h2 {
  font-family: "Bagel";
}

.card p {
  background-color: rgba(247, 238, 238, 0.274);
  font-family: "Dosis";
  font-size: 1.5rem;
}

.back-link a {
  font-family: "Flameco-Regular";
  font-size: 2rem;
  color: antiquewhite;
  align-items: start;
}

.backlink a:visited {
  color: rgb(24, 52, 63);
}

@media screen and (max-width: 770px) {
  .card .container .product .img {
    display: flex;
    flex-direction: row;
    align-items: center; /* Center items horizontally */
    width: 100%;
  }
}
