body {
    background-color: #3f4244;
  
    color:#282c34;
  
  }
  
  a {
    text-decoration: none;
  }
  
  main {
    background-color: rgba(12, 20, 65, 0.397); 
    padding: 2rem;
  
  
  }
  
  main.content {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  
  main .pg-header {
    padding: 60px 0;
    background: rgba(29, 28, 28, 0.185);
  
  }
  

  
  /* Breadcrumb */
  
  .breadcrumb a {
    color: antiquewhite;
  
  }
  
  @media all and (max-width: 991px) {
    .breadcrumb.justify-content-end{
      justify-content: flex-start;
  
    }
  }
  
  
  
  .App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(2, 2, 2);
  }
  
  .App-link {
    color: #000000;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  
  
  