.cart {
    position: fixed;
    top: 0;
    right: 0;
    min-width: 10%;
    max-width: 20%;
    max-height: 50%;
    background-color:#6083b1;
    overflow: auto;
    padding: 0.5rem;
    box-shadow: 0 0 1rem blue;
    border-bottom-left-radius: 0.5rem;
  }
  
  .cart h2 {
    font-size: 1 rem;
    border-bottom: 1px solid blue;
    padding-bottom: 1.5rem;
    margin: 1rem 0;
    font-size: wavy;
  }
  
  .cart .close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
    color:blue;
    font-size:20px;
    font-family: wavy;
  }
  
  .cart .close:hover {
    text-decoration: underline;
  }
  
  .cart-closed {
    position: fixed;
    top: 5px;
    right: 5px;
    font-size: 2rem;
    cursor: pointer;
    background-color: rgb(68, 68, 146);
    border-radius: 10%;
    padding: 0.25rem;
    width: 40px;
    height: 40px;
    transition: transform 0.5s ease;
  }
  
  .cart-closed:hover {
    transform: rotate(360deg);
  }
  
  .cart img {
    width: 60px;
    margin-right: 1rem;
  }
  
  .cart input {
    width: 45px;
    padding: 0;
    margin: 0 0.5rem 1rem 0;
  }
  
  .product {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .productLeft {
    display: flex;
    flex-direction: row;
  
    gap: 10px;
  }
  
  .images {
    display: flex;
    flex-direction: row;
    width: 300px;   
  
   
  }
  
  .mainimage {
    width: 400px;
    
  }
  .shopping-cart{
    font-family: wavy
  }
  .total{
    font-family: wavy;
    font-size: 20px;
  }
  .checkout{
    font-size:20px;
    font-family: wavvy;
    padding-left:14px;
  }
  
  @media screen and (max-width: 768px) {
    .cart {
      position: relative;
      max-width: 100%;
      max-height: auto;
      box-shadow: none;
      background-color: inherit;
    }
  
    .cart-closed {
      position: relative;
      margin: 0 auto;
    }
  }
  