.cart {
    position: fixed;
    top: 0;
    right: 0;
    min-width: 10%;
    max-width: 20%;
    max-height: 50%;
    background-color:#6083b1;
    overflow: auto;
    padding: 0.5rem;
    box-shadow: 0 0 1rem blue;
    border-bottom-left-radius: 0.5rem;
  }
  
  .cart h2 {
    font-size: 1 rem;
    border-bottom: 1px solid blue;
    padding-bottom: 1.5rem;
    margin: 1rem 0;
  }
  
  .cart .close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
    color: rgb(39, 14, 14)
  }
  
  .cart .close:hover {
    text-decoration: underline;
  }
  
  .cart-closed {
    position: fixed;
    top: 2%;
    right: 1%;
    font-size: 2rem;
    cursor: pointer;
    background-color: rgb(68, 68, 146);
    border-radius: 80%;
    padding: 0.25rem;
    width: 50px;
    height: 50px;
  }
  
  .cart-closed:hover {
    transform: rotate(8deg);
  }
  
  .cart img {
    width: 70px;
    margin-right: 1rem;
  }
  
  .cart input {
    width: 45px;
    padding: 0;
    margin: 0 0.5rem 1rem 0;
  }
  
  .product {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .productLeft {
    display: flex;
    flex-direction: row;
  
    gap: 10px;
  }
  
  .images {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
  
    gap: 10px;
  }
  
  .mainimage {
    width: 400px;
    height: 600px;
  }
  
  @media screen and (max-width: 768px) {
    .cart {
      position: relative;
      max-width: 100%;
      max-height: auto;
      box-shadow: none;
      background-color: inherit;
    }
  
    .cart-closed {
      position: relative;
      margin: 0 auto;
    }
  }
  